* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "roboto";
}
a {
  text-decoration: none;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.header {
  width: 40%;
  background-color: #343a42;
  text-align: center;
  color: #fff;
  height: 150px;
}
.searchbox {
  height: 30px;
  font-size: 12px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 30%;
  margin-top: 30px;
}

.content {
  width: 40%;
  text-align: center;
  color: #000;
  height: auto;
  border: 1px solid #343a42;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  align-items: center;
}
.marginHorizontal {
  margin-top: 10px;
  margin-bottom: 10px;
}
li {
  border: 1px solid #a9a9a9;
  width: 90%;
  padding: 10px;
}
.product {
  margin-right: 50px;
}
.price {
  margin-right: 50px;
}

.productInputBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

.input {
  height: 30px;
  font-size: 12px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  width: 100%;
  margin-top: 30px;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: cadetblue;
}
